<% posts.each do |photo| %>
  <div class="col-9 offset-2 col-md-6 offset-md-0 col-lg-4 offset-lg-0 mx-auto">
    <div class="card-link my-3">
      <div class="card my-3 mx-2">
          <%= link_to post_path(photo.id) do %>
            <%= image_tag photo.get_post_image(1000,1000),class: "card-img" %>
            <div class="card-body">
              <span class="text-muted small"><%= photo.created_at.strftime('%Y/%m/%d') %></span>
              <h5 class="card-title"><%= photo.title %></h5>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<%end%>
