<% comments.each do |comment|%>
<tr class="row">
  <td class="col-4">
    <%=link_to user_path(comment.user) do %>
    <%= comment.user.name %>
    <%end%>
  </td>
  <td class="col-6"><%= comment.comment %></td>
  <td class="col-2">
    <% if comment.user==current_user %>
      <%= link_to post_comment_path(comment.post,comment),method: :delete,remote:true,class: "btn btn-sm btn-danger" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </td>
</tr>
<% end %>