<div class="user-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="about-box">
          <h3 class="mt-5 text-center about-text">
            これは写真を投稿するアプリです！
          </h3>
          <h4 class="mt-3 text-center about-text">
            みんなで思い出を共有しましょう。
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
