<div class="user-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="top-box">
          <h3 class="top-text">Welcome! Photo Studio</h3>
          <div class="top-btn">
            <%= link_to(new_user_registration_path, class: "btn btn-lg mr-5") do %>新規登録<% end %>
            <%= link_to(new_user_session_path, class: "btn btn-lg ml-5") do %>ログイン<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>