<div class="user-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="top-box">
          <h1 class="top-text mt-5">Welcome! Photo Studio</h1>
          <div class="top-btn">
            <%= link_to(new_user_registration_path, class: "btn btn-lg top-text mr-5") do %>Sign up<% end %>
            <%= link_to(new_user_session_path, class: "btn btn-lg top-text") do %>Log in<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>