<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi2 pl-3 pr-4 mt-5">
        投稿一覧
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-md-12 col-lg-12 my-2">
      <%= render"admin/posts/admin_posts",posts: @posts %>
    </div>
  </div>
</div>
