@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Permanent Marker', cursive;
}

main {
  flex: 1;
  background-color: #fffff0;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
  outline: none;
  background-color: #fffff0;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: none;
  appearance: none;
  cursor: pointer;

  &,
  span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  span {
    position: absolute;
    left: 5px;
    width: 80%;
    height: 2px;
    background-color: rgba(165, 165, 165, 1);
    border-radius: 1px;

    &:nth-of-type(1) {
      top: 8px;
    }
    &:nth-of-type(2) {
      top: 20px;
    }
    &:nth-of-type(3) {
      top: 32px;
    }
  }
}

.navbar-toggler[aria-expanded='true'] {
  span.navbar-toggler-icon {
    span {
      &:nth-of-type(1) {
        transform: translateY(12px) rotate(-315deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(-12px) rotate(315deg);
      }
    }
  }
}

.nav-link {
  color: #fff;
  background-color: #5f9ea0;
}

.nav-link:hover {
  color: #5f9ea0;
  background-color: #fff;
}

.user-container {
  background-image: url('../../assets/images/photo.jpg');
  background-size: cover;
  min-height: 100vh;
}

header, footer{
  background-color: #40e0d0;
}

.navbar-brand, .top-text{
    color: #fff;
}

.navbar-brand{
    font-size: 2rem;
}

.user-image, .post-image{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.post-image{
  width: 350px;
  border-radius: 10%;
}

.card-img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-title{
  color: #000;
}

#map {
  height: 300px;
  width: 400px;
}

.about-box{
  color: #fff;
}

.fa-heart:hover {
  transform: translateY(-5px);
}

.btn-edit, .btn-follow, .btn-nofollow, .btn-post {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #80ed99;
  box-shadow: 0 5px #57cc99;
}
.btn-edit:hover {
  box-shadow: 0 3px #57cc99;
  top: 1px;
}
.btn-edit:active {
  box-shadow: 0 0 #57cc99;
  top: 5px;
}

.btn-follow {
  background: #3a86ff;
  box-shadow: 0 5px #4433ff;
}

.btn-follow:hover {
  box-shadow: 0 3px #4433ff;
  top: 1px;
}

.btn-follow:active {
  box-shadow: 0 0 #4433ff;
  top: 5px;
}

.btn-nofollow {
  background: #6c757d;
  box-shadow: 0 5px #495057;
}

.btn-nofollow:hover {
  box-shadow: 0 3px #495057;
  top: 1px;
}

.btn-nofollow:active {
  box-shadow: 0 0 #495057;
  top: 5px;
}

.btn-post {
  background: #ff6392;
  box-shadow: 0 5px #ff0a78;
}

.btn-post:hover {
  box-shadow: 0 3px #ff0a78;
  top: 1px;
}

.btn-post:active {
  box-shadow: 0 0 #ff0a78;
  top: 5px;
}

.btn-destroy {
  background: #ef233c;
  box-shadow: 0 5px #d90429;
}

.btn-destroy:hover {
  box-shadow: 0 3px #d90429;
  top: 1px;
}

.btn-destroy:active {
  box-shadow: 0 0 #d90429;
  top: 5px;
}

.btn-log {
  background: #ffe566;
  box-shadow: 0 5px #ffd819;
}

.btn-log:hover {
  box-shadow: 0 3px #ffd819;
  top: 1px;
}

.btn-log:active {
  box-shadow: 0 0 #ffd819;
  top: 5px;
}

.card:hover {
  transform: translateY(-5px);
}