<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-3">My Page</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6 text-center mt-3">
      <%= image_tag @user.get_user_image(500,500),class: "user-image" %>
      <h4 class="text-center my-3"><i class="fas fa-portrait"></i> <%= @user.name %></h4>
      <% if @user == current_user %>
        <%= link_to"会員情報編集",edit_user_path(@user), class: "btn btn-success my-3" %>
      <% end %>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
    </div>
  </div>
</div>
